---
layout: none
colors: http://paletton.com/#uid=23L0u0khLrV7MK7cRxYlZnuqliV
primary:
  darkest: 1B3165
  darker: 30497D
  base: 4B6195
  lighter: 7184B0
  lightest: A5B3D3
complementary:
  darkest: 976D1B
  darker: BB903B
  base: DEB563
  lighter: FFDD99
  lightest: FFEAC1
---
